.nav {
  padding-top: 1rem;
  .nav-item {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    cursor: pointer;
    &.Active {
      background-color: #f8f9fa;
      a {
        font-weight: bold;
      }
    }
  }
}
